body {
  font-family: $ff-regular;
  min-width: 280px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  //padding: 0 20px;
}

.rel {
  position: relative;
}

.main {
  margin: 10px 0 0 0;
  background: url('../img/bg.png') #E5E5E5;
}

.section {
  margin: 10px 0 10px 0;
}

@media (max-width: 1219px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 761px) {
  .container {
    max-width: 280px;
  }
}