.breadcrumbs {
  margin: 12px 0 41px 0;

  & li, & a{
    font-size: 18px;
    color: $blue-light;
  }

  & li {
    display: inline-block;
    vertical-align: middle;

    &::after {
      content: ' / ';
    }

    &:last-child::after {
      content: '';
    }
  }

  & a {
    text-decoration: none;
  }

  @media (max-width: 1219px) {
    & {
      margin: 12px 0 25px 0;
    }
  }

}