.center-content {
  display: inline-block;
  vertical-align: top;
  width: 880px;
  margin-left: 15px;

  &-item {
    background: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 35px 56px 0 57px;
    margin-bottom: 19px;

    & h3 {
      font-weight: bold;
      line-height: 25px;
      font-size: 24px;
      color: $blue-light;
    }

    & p {
      padding: 0 0 48px;
      line-height: 26px;
      font-size: 16px;
      color: $dark-grey;
    }
  }

  &-search {
    margin-bottom: 20px;

    & input {
      width: 637px;
      background: $white;
      border: 1px solid $light-grey-100;
      padding: 16px 57px 11px 62px;
      color: $black;

      &::placeholder {
        color: $black;
      }
    }

    & button {
      background: $white;
      border: 1px solid $blue-light;
      padding: 14px 33px 12px 33px;
      font-size: 18px;
      color: $blue-ulight;
    }
  }

  @media (max-width: 1219px) {
    & {
      width: 478px;
    }

    &-item {
      padding: 30px 56px 0px 26px;
      & p {
        padding: 0 0 48px;
      }
    }

    &-search {
      & input {
        width: 241px;
      }

      & button {
        padding: 14px 30px 12px 30px;
      }

    }
  }

  @media (max-width: 761px) {
    & {
      width: 100%;
      margin-left: 0;
    }

    &-item {
      padding: 30px 19px 0px 17px;
      & p {
        padding: 0 0 48px;
      }
    }

    &-search {
      & input {
        width: 73px;
      }

      & button {
        padding: 14px 15px 10px 15px;
      }

    }
  }

}