.footer-bottom {
  background: $blue-light;
  box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.15);
  padding-bottom: 54px;

  color: $white;

  & .left, & .center, & .right {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
  }

  & .left {
    width: 200px;
    line-height: 17px;
    font-size: 16px;
  }

  & .center {
    margin-left: 54px;
    margin-right: 54px;

    & li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & .right {
    line-height: 15px;
    font-size: 14px;
  }

  & .delivery {

    & li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;

      &:last-child {
        width: 217px;
        margin-left: 4px;
      }
    }
  }

  & .copyright {
    width: 457px;
    margin-right: 160px;
    margin-left: 160px;
    line-height: 15px;
    font-size: 14px;
    color: $blue-white;
  }

  & .map {
    & img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  @media (max-width: 1219px) {

    & .left {
      font-size: 13px;
      width: 140px;
    }

    & .center {
      margin-left: 5px;
      margin-right: 5px;

      & li {
        margin-right: 4px;
      }
    }

    & .right {
      line-height: 13px;
    }

    & .delivery {
      & li:last-child {
        width: 163px;
      }
    }

    & .copyright {
      text-align: center;
      margin-right: 0;
      margin-left: 0;
      font-size: 13px;
    }

    & .logo img{
      width: 140px;
    }

    & .map {
      & img {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 761px) {

    & .left, & .right, & .center {
      display: none;
    }

    & .logo, & .copyright {

      & img {
        width: 188px;
      }

      display: block;
      text-align: center;
      width: 100%;
      line-height: 15px;
      font-size: 14px;
    }

  }

}