.header-top {
  background: linear-gradient(90deg, #C4C4C4 0%, #C4C4C4 0%, #336799 0.01%, #17548F 50%, #336799 99.9%, #C4C4C4 100%, #C4C4C4 100%);

  &-left, &-center, &-right {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    font-family: $ff-thin;
    font-size: 14px;
    padding: 13px 0;

    & ul li {
      list-style: none;
      display: inline-block;
      vertical-align: middle;
    }

    & a {
      color: $white;
      text-decoration: underline;
    }

    & img {
      vertical-align: middle;
      margin-right: 13px;
    }
  }

  &-left {
    & li {
      margin-right: 40px;
    }
  }

  &-center {
    background: $blue-light;
    margin: 0;

    & li {
      &:first-child {
        margin: 0 48px;
      }

      margin: 0 20px;

      &:last-child {
        margin: 0 38px;
      }
    }
  }

  &-right {

    margin-left: 63px;

    & a {
      color: $yellow;
      text-decoration: underline;
    }
  }

  @media (max-width: 1219px) {

    &-left {
      & ul li:last-child {
        margin-right: 20px;
      }
    }

    &-center {
      & ul li {
        display: none;

        &:first-child {
          display: inline-block;
          margin: 0 65px;
        }
      }
    }

    &-right {
      margin-left: 33px;
    }
  }

}
