.header-bottom {
  &-logo {

  }

  &-search {
    text-align: center;

    & form {
      & input {
        width: 65%;
        padding: 14px 35px;
        font-size: 14px;
        background: #F6F6F6;
        border: 1px solid #D1D1D1;
      }
      & button {
        background: $white;
        border: 1px solid $blue-light;
        padding: 10px 35px 12px 35px;
        font-size: 18px;
        color: $blue-ulight;
      }
    }
  }

  &-contact {
    text-align: right;

    &__phone {
      font-weight: bold;
      font-size: 24px;
      color: $red;
    }

    &__selection a{
      font-weight: 500;
      font-size: 14px;
      text-decoration-line: underline;
      color: $blue-ulight;
    }
  }

  @media (max-width: 991px) {
    &-search {

      & form {

        & input {
          width: 55%;
        }
        & button {
          padding: 10px 20px 12px 20px;
          font-size: 18px;
          color: $blue-ulight;
        }
      }
    }
  }
}