.header-bottom {

  &-logo, &-search, &-contact {
    display: inline-block;
    vertical-align: middle;
    padding-top: 32px;
  }

  &-search {
    position: relative;
    margin-left: 81px;
    margin-right: 81px;

    & input {
      width: 421px;
      padding: 13px 0 11px 56px;
      background: $light-grey;
      border: 1px solid $grey;
    }

    & img.ico-search {
      position: absolute;
      left: 24px;
      top: 47px;
    }

    & button {
      padding: 11px 34px;
      background: $white;
      border: 1px solid $blue-light;
      font-size: 18px;
      color: $blue-ulight;
    }
  }

  &-contact {
    text-align: right;
    & .header-phone {
      font-weight: bold;
      font-size: 24px;
      color: $red;
    }

    & .header-selection {

      & a {
        font-weight: 500;
        font-size: 14px;
        text-decoration-line: underline;
        color: $blue-ulight;
      }
    }
  }

  @media (max-width: 1219px) {

    &-logo, &-search, &-contact {
      padding-top: 44px;
    }

    &-logo img {
      width: 182px;
    }
    &-search {
      margin-left: 45px;
      margin-right: 35px;

      & input {
        width: 115px;
        padding: 13px 0 11px 52px;
      }

      & img.ico-search {
        left: 18px;
        top: 54px;
      }

      & button {
        padding: 11px 20px;
      }

    }
  }

}