.left-sidebar {

  display: inline-block;
  vertical-align: top;

  .spoiler-item {
    width: 280px;
    margin-bottom: 20px;

    .spoiler-title {
      background: $blue-light;
      box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
      padding: 13px 0 5px 19px;

      & a {
        text-decoration: none;
        line-height: 26px;
        font-size: 16px;
        color: $white;
      }
    }

    .spoiler-content {
      background: $blue-dark;
      box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
      padding: 30px 19px 13px;

      & li {
        list-style: none;
        margin-bottom: 18px;
      }

      & a {
        font-size: 14px;
        color: $white;
        text-decoration: none;
      }

    }
  }

  @media (max-width: 1219px) {
    .spoiler-item {
      width: 230px;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 761px) {
    .spoiler-item {
      width: 100%;
    }
  }

}