h2.page-title {
  padding: 40px 0 0 0;
  margin: 0;
  font-weight: bold;
  line-height: 38px;
  font-size: 36px;
  color: $black;
}

@media (max-width: 761px) {
  h2.page-title {
    line-height: 25px;
    font-size: 24px;
  }
}