@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
  url('../../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Roboto-Regular.woff') format('woff'),
  url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('../../assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Gilroy-Regular.woff') format('woff'),
  url('../../assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
