/* grid */
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1180px
);

/* fonts */
$ff-regular: 'Roboto-Regular';
$ff-thin: 'Roboto-Thin';
$ff-decor: 'Gilroy';

/* colors */
$white: #ffffff;
$black: #000000;
$blue-dark: #1e4163;
$blue-bright: #0082ff;
$blue-light: #336799;
$blue-ulight: #3a64a2;
$red: #a80532;
$yellow: #e5c249;

$theme-colors: (
        "m-white": $white,
        "m-black": $black,
        "m-blue-dark": $blue-dark,
        "m-blue-bright" : $blue-bright,
        "m-blue-light" : $blue-light,
        "m-blue-ulight" : $blue-ulight,
        "m-red": $red,
);