/* fonts */
$ff-regular: 'Roboto-Regular';
$ff-thin: 'Roboto-Thin';
$ff-decor: 'Gilroy';

/* colors */
$white: #ffffff;
$light-grey: #f6f6f6;
$light-grey-100: #c4c4c4;
$grey: #d1d1d1;
$dark-grey: #595959;
$gray-blue-light: #8798a9;
$gray-blue: #99c4ef;
$blue-white: #9EBFDE;
$black: #000000;
$blue-dark: #1e4163;
$blue-udark: #193652;
$blue-bright: #0082ff;
$blue-light: #336799;
$blue-ulight: #3a64a2;
$red: #a80532;
$yellow: #e5c249;
